[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/spotifyd --no-daemon
Restart=always
RestartSec=12
Environment=SPOTIFYD_CLIENT_ID=7c98d02936494a7db8210c2d5701c38c


[Install]
WantedBy=default.target
