config/Microsoft/Microsoft Teams/Code Cache/
config/Microsoft/Microsoft Teams/Cache/
config/Microsoft/Microsoft Teams/IndexedDB
config/Microsoft/Microsoft Teams/Local Storage/
config/Microsoft/Microsoft Teams/Session Storage/
