<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet3" trunkName="vboxnet3" trunkType="netflt" IPAddress="192.168.59.100" lowerIP="192.168.59.101" upperIP="192.168.59.254" leasesFilename="/home/gman72/.config/VirtualBox/HostInterfaceNetworking-vboxnet3-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
