<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet6" trunkName="vboxnet6" trunkType="netflt" IPAddress="192.168.62.100" lowerIP="192.168.62.101" upperIP="192.168.62.254" leasesFilename="/home/gman72/.config/VirtualBox/HostInterfaceNetworking-vboxnet6-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
