[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gman72/export]
row=6
col=3

[/home/gman72/pit_quick_troop_rcd_hero.png]
row=1
col=2

[/home/gman72/scratch]
row=5
col=3

[/home/gman72/hierarchy.xml]
row=2
col=2

[/home/gman72/omaze]
row=4
col=2

[/home/gman72/Pictures]
row=4
col=1

[/home/gman72/TDM]
row=5
col=4

[/home/gman72/alliance_gift_open.png]
row=8
col=2

[/home/gman72/adb]
row=0
col=3

[/home/gman72/Mail]
row=2
col=4

[/home/gman72/DON'T TRY THIS AT HOME!-24Dz5THmfrw.webm]
row=0
col=2

[/home/gman72/Music]
row=6
col=0

[/home/gman72/test1]
row=6
col=1

[/home/gman72/bot]
row=3
col=3

[/home/gman72/Downloads]
row=8
col=0

[/home/gman72/removed-files]
row=0
col=1

[/home/gman72/Desktop]
row=8
col=4

[/home/gman72/Videos]
row=3
col=1

[/home/gman72/Arduino]
row=3
col=4

[/home/gman72/map.png]
row=3
col=2

[/home/gman72/xmatters]
row=6
col=2

[/home/gman72/work]
row=8
col=3

[/home/gman72/bin]
row=1
col=1

[/home/gman72/VirtualBox VMs]
row=7
col=3

[/home/gman72/network]
row=8
col=1

[/home/gman72/Documents]
row=7
col=0

[/home/gman72/media]
row=9
col=1

[/home/gman72/PycharmProjects]
row=4
col=3

[/home/gman72/StudioProjects]
row=4
col=4

[/home/gman72/nzbgeek]
row=5
col=2

[/home/gman72/Projects]
row=0
col=4

[/home/gman72/Unix_Home]
row=7
col=1

[/home/gman72/rmfiles]
row=5
col=1

[/home/gman72/udemy]
row=9
col=3

[/home/gman72/omv]
row=1
col=4

[/home/gman72/Public]
row=6
col=4

[/home/gman72/masterbrand_mysql.csv]
row=9
col=0

[/home/gman72/drive]
row=9
col=2

[/home/gman72/Templates]
row=7
col=4

[/home/gman72/tst]
row=2
col=1

[/home/gman72/__pycache__]
row=1
col=3

[/home/gman72/druid.json]
row=7
col=2

[/home/gman72/opencv_tutorials]
row=2
col=3

[b393a9dc-8063-40bf-bfa7-b2388e7184f7]
row=4
col=0

[10184133-d433-4cbf-8241-d604a68846a3]
row=3
col=0

[2022-09-03-05-06-12-00]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=1
col=0

[/home/gman72]
row=2
col=0

